<!DOCTYPE html>
<html>
<head>
	<title>Vue Deneme</title>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

	<div id="app">

		<input type="text" v-model="query">
		<button v-on:click="search()">Search</button>
		<div id="result" v-if="result">

			{{ result.Title }}
		</div>

	</div>

	<script>
		var app = new Vue({
  		el: '#app',
  		data: {
   		query: '',
   		result: false
 		 },
 		 methods: {
 		 	search: function () {
 		 		fetch(`http://www.omdbapi.com/?t=${this.query}&apikey=d31efe4c&r=json`) 
 		 	
 		 		.then(result => result.json())
 		 		.then(result => {

 		 			this.$set = (this, 'result', result)
 		 	})

 		 	}
 		 }
   		
		})
	</script>

</body>
</html>
